@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-serif: var(--font-eb-garamond);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fafafc;
    --foreground: #2a2a2a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-eb-garamond), serif;
}

p,
span,
strong,
a,
button {
  font-family: var(--font-poppins), sans-serif;
}

@layer utilities {
  .container-section {
    @apply max-w-7xl w-full mx-auto px-4 py-28;
  }
}
